h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}
p {
    font-family: 'Open Sans', sans-serif;
}
.CenterText {
    text-align: center;
}
.aNoStyle {
    text-decoration: inherit;
    color: inherit;
}
.vertical-align-bottom {
    vertical-align: bottom;
}
.grecaptcha-badge { 
    visibility: hidden; 
}
